.gradle
/build/
test-results/
reports/
# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.idea/workspace.xml
sandbox/out/production/classes/ru/moneta/pft/sandbox/FirstProgram.class
*.class
*.log
.idea/vcs.xml
*.bin
*.idx
*.js
addressbook-web-tests/out/test/resources/groups.json
addressbook-web-tests/out/test/resources/groups.csv
addressbook-web-tests/out/test/resources/contacts.xml
addressbook-web-tests/out/test/resources/contacts.json
addressbook-web-tests/out/test/resources/testng-groups.xml
addressbook-web-tests/out/test/resources/testng-contacts.xml
addressbook-web-tests/out/test/resources/remote.properties
addressbook-web-tests/src/test/resources/testng-groups.xml
addressbook-web-tests/out/test/resources/logback.xml
addressbook-web-tests/src/test/resources/testng-groups.xml
addressbook-web-tests/out/test/resources/hibernate.cfg.xml
addressbook-web-tests/build/tmp/testGroupsBdd/jar_extract_7643799459183680361_tmp
